<ActionBar class="action-bar" backgroud>
	<StackLayout orientation="horizontal" horizontalAlignment="right">
		<Label text="Cristian Carreño" class="action-label"></Label>
	</StackLayout>
</ActionBar>




	<StackLayout class="header">
		<Label class="namepag" text="*TAKE PICTURE*"></Label>
		<Image class="logo" src="~/app/images/logoTucan.png"></Image>
	</StackLayout>


		<StackLayout horizontalAlignment="center" verticalAlignment="center">
		<Image [src]="picture" width="200" height="200"></Image>

		<Label text="Etiqueta:" class="input"></Label>
		<TextField [(ngModel)]="imagen.etiqueta"  class="inputfield"></TextField>

		<Button text="Capture" (tap)="getCameraPermission()" class="btnprimary"></Button>
		<Button text="SUBIR" (tap)="subirFoto()" class="btnprimary"></Button>

	</StackLayout>
<!-- 
    <WrapLayout [items]="items" colWidth="30%" rowHeight="100">
        <ng-template let-item="item">
          <StackLayout margin="10" [nsRouterLink]="['/item', item.id]" borderColor="blue" borderWidth="2" borderRadius="5" verticalAlignment="stretch" class="list-group-item" >
            <Label verticalAlignment="center" [text]="item.value" class="list-group-item-text" textWrap="true"></Label>
          </StackLayout>
        </ng-template>
      </WrapLayout>
-->